@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
	--blue: #1da1f2;
	--white: #ffffff;
	--darkgrey: #333333;
	--grey: #828282;
	--lightgrey: #f6f8fa;
	--filterBlue: invert(57%) sepia(68%) saturate(3736%) hue-rotate(177deg) brightness(101%) contrast(90%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: var(--darkgrey);
}
body {
	margin: 0 auto;
	padding-inline: 5rem;
	display: grid;
	grid-template-columns: 220px 694px 300px;
}
.fixed {
	background: rgba(255, 255, 255, 0.99);
	padding-top: 1rem;
	min-height: 4rem;
	position: fixed;
	top: 0;
}
.home-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 694px;
	padding-inline: 2rem;
	box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.08), inset 1px 0px 0px rgba(0, 0, 0, 0.08);
}
ul {
	list-style: none;
}
h1,
h2 {
	font-size: 1.25rem;
}
h3 {
	font-size: 1rem;
}
p {
	font-size: 1rem;
	line-height: 22px;
}
.btn-blue-lg {
	border: none;
	color: #fff;
	background: var(--blue);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
	border-radius: 100px;
	padding: 1rem 3rem;
	font-size: 1rem;
	font-weight: 700;
	margin-top: 1rem;
}
.btn-blue-sm {
	border: none;
	color: #fff;
	background: var(--blue);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
	border-radius: 100px;
	padding: 12px 28px;
	opacity: 0.4;
}
.chevron {
	width: 16px;
}

/* ---- Nav Column ---- */

.logo-container {
	width: fit-content;
	margin-left: 0.2rem;
	padding: 0.8rem;
	border-radius: 50%;
}
.logo-container:hover {
	background-color: rgba(29, 160, 242, 0.2);
}
.nav-list li {
	padding: 1rem 1rem;
	margin-bottom: 0.5rem;
	border-radius: 100px;
	width: fit-content;
}
.nav-list a {
	display: flex;
	align-items: center;
	font-size: 1.1rem;
}
.nav-list a:first-child {
	font-weight: 2rem;
}
.nav-list img {
	margin-right: 1rem;
	width: 26px;
}
.nav-list li:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

/* ---- Main Column ---- */
.main-container {
	box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.08), inset 1px 0px 0px rgba(0, 0, 0, 0.08);
}
.main-content {
	padding-top: 5rem;
}
.add-tweet {
	padding-inline: 2rem;
	height: 142px;
	border-bottom: 10px solid var(--lightgrey);
}
.add-tweet div,
input {
	width: 100%;
}
.add-tweet input {
	color: var(--grey);
	border: none;
	min-height: 3rem;
	margin-bottom: 1rem;
	font-size: 1.1rem;
}
.add-tweet input:focus {
	outline: none;
}
.tweet-row {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}
/* Add Twitter */
.icons-row {
	display: flex;
	gap: 1rem;
}
.icons-row button {
	margin-left: auto;
}

/* Twitter Feed */
.main-container a {
	color: var(--blue);
	text-decoration: none;
}
.main-container a:hover {
	text-decoration: underline;
}

/* Twitter Cards */
.tweets-container {
	padding: 2rem;
}
.tweet-card {
	margin-bottom: 2rem;
}
.tweet-details {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}
.tweet-details-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
}
.tweet-details-header span {
	color: var(--grey);
}
.tweet-details-header img {
	margin-left: auto;
}

.tweet-icons-row {
	display: flex;
	justify-content: space-around;
}
.tweet-icons-row img {
	width: 20px;
}
.avatar {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.tweet-image {
	max-width: 100%;
	border-radius: 12px;
}

/* ---- Aside Column ---- */
aside {
	padding: 3rem 2rem;
}

/* Search Bar */
.search-bar {
	position: relative;
}
.search-bar input {
	background-color: var(--lightgrey);
	border: none;
	border-radius: 100px;
	height: 48px;
	width: 280px;
	padding: 0 3rem;
}
.search-bar input:focus {
	outline: var(--blue);
}
.search-bar img {
	position: absolute;
	top: 15px;
	left: 16px;
}

.trends-container,
.follow-container {
	background-color: var(--lightgrey);
	margin-top: 2rem;
	width: 280px;
	border-radius: 12px;
}
.trends-container header,
.follow-container header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 1rem;
}
.trends-container footer,
.follow-container footer {
	padding: 0.8rem 1rem;
	text-align: center;
	color: var(--blue);
}
.trends-card {
	padding: 1rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.trends-card div {
	display: flex;
}
.trends-card span {
	color: var(--grey);
	margin-right: auto;
	font-size: 12px;
	margin-bottom: 5px;
}
.trends-card > p {
	color: var(--grey);
	font-size: 14px;
}
.follow-card {
	padding: 1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 6px;
	border-bottom: 1px solid lightgray;
}
.follow-card span {
	color: var(--grey);
	font-size: 14px;
}
.follow-card  div {
	margin-right: auto;
}
.follow-card .row {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.outline-button {
	border: 1px solid var(--blue);
	color: var(--blue);
	background: none;
	padding: 6px 16px;
	border-radius: 60px;
}
